:host {
    display: grid;
    align-items: center;
    grid-template: auto auto 200px auto auto / 1fr;
    grid-gap: 10px;

    > h2 {
        justify-self: start;
    }
    
    > app-signal {
        width: 200px;
        height: 100%;
        justify-self: center;
        border-radius: 10px;
        border: 1px solid aliceblue;
    }

    > span {
        overflow-x: hidden;
        text-overflow:  ellipsis;
        width: 100%;
        justify-self: start;
        height: 2em;
        
        border-bottom: 1px dashed aliceblue;
    }
}